/* tailwind.css */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-color: #cbceda;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html {
    overflow-x: hidden;
}

/* Responsive classes */
@media (max-width: 640px) {

    /* Styles for small screens (mobile devices) */
    .resize {
        width: 100%;
    }
}

@media (min-width: 640px) {

    /* Styles for medium screens (tablets and larger phones) */
    .resize {
        width: 90%;
    }
}

@media (min-width: 768px) {

    /* Styles for large screens (desktops) */
    .resize {
        width: 56%;
    }
}

@media (min-width: 1024px) {

    /* Styles for extra-large screens (large desktops) */
    .resize {
        width: 70%;
    }
}

.footer {
    border-bottom: 2px solid black;

    /* Media query for extra-large screens */
    @media (min-width: 1024px) {
        width: 563px;
    }
}

.glass {
    background: rgba(255, 255, 255, 0.6);
    /* White with 60% opacity */
    backdrop-filter: blur(3px);
    /* Adjust blur as needed */
}
